<div class="my-3 text-center"><strong>Payment details</strong></div>

<form class="needs-validation w-100" method="POST" action="/pay-financial-card">
  <div class="form-control" id="financial-card-widget"></div>
  <input type="hidden" name="amount" value="{{amount}}" />
  <div class="invalid-feedback d-block" id="quest-financial-card-invalid"></div>
  <button class="btn btn-primary btn-md btn-block w-100 mt-2" type="submit">Pay with card</button>
</form>

<div class="payment-separator">or</div>

<div id="payment-list"></div>
<form action="/pay-web-widget" id="pay" method="POST">
  <input type="hidden" name="webWidget" />
  <input type="hidden" name="amount" value="{{amount}}" />
</form>

{{!-- Financial card setup --}}
<script src="https://cards.sandbox.upp.qps.io/js/widget-v1.js"></script>
<script defer>
  const uppPublicToken = "{{{uppPublicToken}}}";
  uppInitialise(uppPublicToken);
  questPaymentWidget("#financial-card-widget").focus();
</script>

{{!-- Alternative payment methods setup --}}
<script src={{{webWidgetScript}}}></script>
<script defer>
  const token = {{{token}}};
  const webWidget = createQuestWebWidget(token);

  async function processPayment(request) {
    console.log('Payment details: ', request);
    document.querySelector('#pay input[name="webWidget"]').value = JSON.stringify(request.requestFields);
    document.querySelector('#pay').submit();
    return { complete: true };
  }

  webWidget.createList(undefined, document.getElementById('payment-list'), processPayment);
</script>